.target{
    display: block;
    position: relative;
    height: 500px;
}
.target ul{
    position: absolute;
    max-height: 0px;
    overflow: hidden;
    transition: all 1s ease-in-out ;
}
.clicked ul{
    max-height: 50px;
}