.target{
    display: block;
    position: relative;
    height: 500px;
}
.target ul{
    position: absolute;
    max-height: 0px;
    overflow: hidden;
    transition: all 1s ease-in-out ;
}
.clicked ul{
    max-height:70px;
    display: flex;
    flex-direction: column;
}
.clicked li{
   background-color:rgb(202, 103, 103);
   border: rgb(155, 18, 18);
   border-style: solid;
}
.target li {
    border: 1px;
    border-color: black;
    border-style: solid;
    background-color: rgb(202, 103, 103);
}
li{
    list-style: none;
}